* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif; 
    /*Sans Serif fallback*/
    line-height: 1.6;
    background-color: #D3D3D3;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

section {
    background: #FFFFFF;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    /*Round corners */
}